<h2>Listado de Aeropuertos</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th>Ciudad</th>
        <th>País</th>
    </tr>
    {% for airport in airports %}
    <tr>
        <td>{{ airport.name }}</td>
        <td>{{ airport.code }}</td>
        <td>{{ airport.city }}</td>
        <td>{{ airport.country }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No hay aeropuertos cargados.</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'create_airport' %}">Agregar nuevo aeropuerto</a>
